html {
  scroll-behavior: smooth;
}

/* Styling of Header */

.navbar-brand {
  margin-right: 0; /* Reset margin on the right */
  margin-left: 10px; /* Add margin on the left */
}


/* About Me Part */
.intro {
  display: flex;
  flex-flow: nowrap column; 
  margin: 0px 0%;     
  align-content: left;
  background-image: url(../images/aboutmepghoto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  margin-top: 20px;
  height: 50vh;
  padding: 50px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-left: 10px 10%;   
  text-align: left;
}


/* Typography CSS */

h1 {
  text-align: center;
  color: rgb(185, 74, 148);

}

#email {
  text-align: center;
  color: rgb(185, 74, 148);
}

.navbar {
  color: rgb(185, 74, 148) !important;
  background-color: white !important;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}
.nav-link {
  color: rgb(185, 74, 148);
}

.py-5 {
  padding-top: 0% !important;
}

.intro p {
  background-color: rgba(255, 255, 255, 0.65);
  color: rgb(185, 74, 148);
  font-size: 10px;  

}
.intro .fs-4 {
  font-size: 20px !important;
  max-width: 40%; 
  padding: 20px; 
 
}

h2 {
  background-color: rgba(255,255,255,0.8);
  padding: 15px;
  height: 25px;
  color: rgb(185, 74, 148);
  font-size: 18px;
  border-bottom: 5px solid rgb(185, 74, 148); 
  text-align: end;
  
}

.contactme {
  color:rgb(185, 74, 148);
  padding: 50px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0px 10%;  

  flex-flow: column nowrap;

}

#MyWorks {
  text-decoration: none; }

  .custom-img {
    height: 240px;
 
 
}




/* Typography of Cards */


.cardContainer {
  margin-bottom: 15px;
}

.card {
  margin: 0 auto;
  text-align: end;
  border-bottom: 5px solid rgb(185, 74, 148); 
  color: rgb(185, 74, 148);
}

.buttonworks {
 background-color: rgba(255, 255, 255, 0.301) ;
 color: rgb(185, 74, 148);
 border: 2px solid rgb(185, 74, 148) ;
}

.buttonworks:hover {
  color: white;
  background-color: rgb(185, 74, 148);
  border: rgb(185, 74, 148);
}

.card body {
  background-color: rgba(255,255,255,0.8);
  padding: 15px;
  height: 25px;
  color: rgb(185, 74, 148);
  font-size: 18px;
  border-bottom: 5px solid rgb(185, 74, 148); 
  text-align: end;
  

}


/*Skill Bar */



.progress {
  height: 40px;
  margin: 15px;
  color: rgb(185, 74, 148);
}

.progress-bar {
  color: rgba(255,255,255,0.8);
  background-color: rgb(185, 74, 148);
}

/* Carousel Image */

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}



.carousel {
  max-width: 600px;
  max-height: 750px;
  margin: 0 auto;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.65);
  color: rgb(185, 74, 148);
}


.carousel-image {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Prevent stretching the image */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally within the carousel */
}


/* Contact Me*/ 

.footer {

  background-color:  rgba(204, 178, 178, 0.8); 
  color: rgb(185, 74, 148);
  max-height: 400px;
}

.social-media {
  text-align: center; /* Center-align the child elements */
  margin-top: 10px; /* Adjust the margin as needed */
}
.fa {
  padding: 10px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  margin: 5px;  
  text-decoration: none;
}


.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: rgb(77, 5, 5);
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

                                                                                                                                  
/*Media Queries*/






@media only screen and (max-width: 600px) {


  
 .intro .fs-4  {
    justify-content: center;
    font-size: 11px !important; 
    margin: 1%;
    padding: 1%;
  }

 
 

  #ContactMe {
    
    margin: 20px;
  }
}
  

